sensitive/*
!sensitive/.gitkeep
bootstrap/.terraform/
bootstrap/*.backup
terraform/**/.terraform
.terraform.lock.hcl
*auto.tfvars

*.swp
.idea
.DS_Store

bosh/bosh-topgun-bbl-state/
bosh/topgun-gcp-key.json
