resources:
- name: greenpeace
  type: git
  icon: github
  source:
    uri: git@github.com:concourse/greenpeace.git
    branch: master
    private_key: ((greenpeace_private_key))
    paths: [pipelines, tasks]

jobs:
- name: reconfigure-self
  plan:
  - get: greenpeace
    trigger: true
  - set_pipeline: self
    file: greenpeace/pipelines/reconfigure.yml

- name: reconfigure-envs
  plan:
  - get: greenpeace
    trigger: true
    passed: [reconfigure-self]
  - across:
    - var: env
      values: [production, stress]
      max_in_flight: all
    do:
    - task: render-pipeline
      file: greenpeace/tasks/render-ytt.yml
      params:
        ARGS: -v cluster=((.:env)) -f greenpeace/pipelines/greenpeace.yml -f greenpeace/pipelines/data.yml
    - set_pipeline: ((.:env))
      file: rendered/pipeline.yml
